//                       ###
//                        ##
//                        ##
//     #####    #####     ##      #####   ## ###    #####
//    ##       ##   ##    ##     ##   ##  ###      ##
//    ##       ##   ##    ##     ##   ##  ##        ####
//    ##       ##   ##    ##     ##   ##  ##           ##
//     #####    #####    ####     #####   ##       #####
//
//
$blue: hsla(184, 59%, 41%, 1);
$tan: hsla(36, 22%, 82%, 1);
$orange: hsla(19, 67%, 57%, 1);
$brown: hsla(22, 26%, 27%, 1);
$white: hsla(0, 0%, 98%, 1);
$black: hsla(22, 26%, 10%, .8);




//                           ##    ##
//                           ##    ##
//                           ##
//    ### ##    #####    ######  ####      ######
//    ## # ##  ##   ##  ##   ##    ##     ##   ##
//    ## # ##  #######  ##   ##    ##     ##   ##
//    ## # ##  ##       ##   ##    ##     ##  ###
//    ##   ##   #####    ######  ######    ### ##
//
//                                          ##
//                                          ##
//
//     ######  ##   ##   #####   ## ###   ####      #####    #####
//    ##   ##  ##   ##  ##   ##  ###        ##     ##   ##  ##
//    ##   ##  ##   ##  #######  ##         ##     #######   ####
//    ##   ##  ##  ###  ##       ##         ##     ##           ##
//     ######   ### ##   #####   ##       ######    #####   #####
//         ##
//         ##

$header-break-1140: 'screen and (max-width: 1140px), screen and (max-device-width: 1140px) and (orientation: portrait)';

$header-break-1020: 'screen and (max-width: 1020px), screen and (max-device-width: 1020px) and (orientation: portrait)';

$header-break-800: 'screen and (max-width: 800px), screen and (max-device-width: 800px) and (orientation: portrait)';

$header-break-530: 'screen and (max-width: 530px), screen and (max-device-width: 530px) and (orientation: portrait)';

$header-break-365: 'screen and (max-width: 365px), screen and (max-device-width: 365px) and (orientation: portrait)';

//      ##                                           ##
//      ##                                           ##
//                                                   ##
//    ####     ### ##   ######    #####   ## ###   ######    #####
//      ##     ## # ##  ##   ##  ##   ##  ###        ##     ##
//      ##     ## # ##  ##   ##  ##   ##  ##         ##      ####
//      ##     ## # ##  ##   ##  ##   ##  ##         ##         ##
//    ######   ##   ##  ######    #####   ##          ###   #####
//                      ##
//                      ##

@import 'normalize';
@import 'typebase';









//    ##
//    ##
//    ##
//    ######    #####   ##  ##
//    ##   ##  ##   ##   ####
//    ##   ##  ##   ##    ##
//    ##   ##  ##   ##   ####
//    ######    #####   ##  ##
//
//
//                           ##            ###
//                           ##             ##
//                           ##             ##
//    ### ##    #####    ######   #####     ##
//    ## # ##  ##   ##  ##   ##  ##   ##    ##
//    ## # ##  ##   ##  ##   ##  #######    ##
//    ## # ##  ##   ##  ##   ##  ##         ##
//    ##   ##   #####    ######   #####    ####
//
//
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}









//    ##         ##               ###
//    ##         ##                ##
//    ##         ##                ##
//    ######   ######   ### ##     ##
//    ##   ##    ##     ## # ##    ##
//    ##   ##    ##     ## # ##    ##
//    ##   ##    ##     ## # ##    ##
//    ##   ##     ###   ##   ##   ####
//
//
html {
  font-family: Frutiger, 'Frutiger Linotype', Univers, Calibri, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', Myriad, 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, 'Helvetica Neue', Helvetica, Arial, sans-serif;

  color: $white;
}

body {
  overflow-x: hidden;

  width: 100vw;

  background-color: $tan;
}









//    ##                              ##
//    ##                              ##
//    ##                              ##
//    ######    #####    ######   ######   #####   ## ###
//    ##   ##  ##   ##  ##   ##  ##   ##  ##   ##  ###
//    ##   ##  #######  ##   ##  ##   ##  #######  ##
//    ##   ##  ##       ##  ###  ##   ##  ##       ##
//    ##   ##   #####    ### ##   ######   #####   ##
//
//

header {
  font-size: 1rem;
  line-height: 3.75rem;

  position: fixed;
  z-index: 10;

  width: 100%;
  height: 4.75rem;
  padding: .5rem;
  padding-right: 2.5rem;

  transition: all 500ms ease-in-out;

  color: $white;
  border-bottom: 2px solid $white;
  background-color: $orange;

  &.smaller {
    line-height: 1.5rem;

    height: 2.5rem;
    & .logo {
      top: .125rem;

      transform: scale(.5, .5);
    }


    @media #{$header-break-530} {
      nav {
        display: none;
      }
    }
  }

  @media #{$header-break-1140} {
    padding: .5rem 0;
  }

  @media #{$header-break-1020} {
    height: 2.5rem;
    line-height: 1.5rem;
  }

  @media #{$header-break-800} {
    height: 4rem;
  }

  @media #{$header-break-530} {
    height: 7.75rem;
  }

  @media #{$header-break-365} {
    height: 9.5rem;
  }
}



//     ###
//      ##
//      ##
//      ##      #####    ######   #####
//      ##     ##   ##  ##   ##  ##   ##
//      ##     ##   ##  ##   ##  ##   ##
//      ##     ##   ##  ##   ##  ##   ##
//     ####     #####    ######   #####
//                           ##
//                       #####

img.logo {
  position: absolute;
  top: .25rem;
  left: 3.5rem;

  transition: all 500ms ease-in-out;
  transform: scale(1,1);
  transform-origin: top left;
  @media #{$header-break-1140} {
    left: .5rem;
  }
  @media #{$header-break-1020} {
    top: .125rem;
    transform: scale(.5,.5);
  }
}


//
//
//
//    ### ##    #####   ## ###   ##   ##
//    ## # ##  ##   ##  ###  ##  ##   ##
//    ## # ##  #######  ##   ##  ##   ##
//    ## # ##  ##       ##   ##  ##  ###
//    ##   ##   #####   ##   ##   ### ##
//
//

.hamburger {
  margin: 0;
  line-height: 1rem;
  position: fixed;
  top: .75rem;
  left: 50%;
}

//
//
//
//    ## ###    ######  ### ##
//    ###  ##  ##   ##   ## #
//    ##   ##  ##   ##   ## #
//    ##   ##  ##  ###    ##
//    ##   ##   ### ##    ##
//
//

nav {
  float: right;
  text-align: right;
  width: 100%;

  @media #{$header-break-1020} {
    margin-top: 0;
  }

  @media #{$header-break-800} {
    margin-top: 1.75rem;
  }

  @media #{$header-break-530} {
   margin-top: 2rem;
   text-align: center;
 }

 a {
   margin-right: 1rem;
   transition: all 500ms ease-in-out;

   @media #{$header-break-1020} {
     margin-right: .5rem;
   }

   @media #{$header-break-530} {
     display: block;
     margin: 0 2rem;
     line-height: 1.25rem;

   }
 }
}

//               ##                         ##
//               ##                         ##
//
//     #####   ####      ######  ## ###   ####     ## ###
//    ##         ##     ##   ##  ###  ##    ##     ###  ##
//     ####      ##     ##   ##  ##   ##    ##     ##   ##
//        ##     ##     ##   ##  ##   ##    ##     ##   ##
//    #####    ######    ######  ##   ##  ######   ##   ##
//                           ##
//                       #####

.signin {
  @media #{$header-break-1020} {
  }
  @media #{$header-break-800} {
    position: fixed;
    right: .25rem;
    z-index: 11;
    top: .25rem;
    margin: 0;
  }
  @media #{$header-break-365} {
    position: inherit;
    width: auto;
  }
}


//    ##
//    ##
//    ##
//    ######    ######
//    ##   ##  ##   ##
//    ##   ##  ##   ##
//    ##   ##  ##   ##
//    ######    ######
//                  ##
//              #####

//         ##    ##
//         ##    ##
//         ##
//     ######  ####     ### ##    #####
//    ##   ##    ##      ## #    ##
//    ##   ##    ##      ## #     ####
//    ##   ##    ##       ##         ##
//     ######  ######     ##     #####
//
//

div {
  height: 100vh;
  margin: 0 auto;

  background-repeat: no-repeat;
  // I can't decide if I like fixed backgrounds or not
  // background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}

.hero {
  video {
    position: fixed;
    z-index: -100;
    top: 0;
    right: 50%;

    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;

    transition: 1s opacity;
    transform: translateX(50%);

    background: url('../images/coffee.jpg') no-repeat;
    background-size: cover;
  }
}

.lovers {
  background-color: $brown;
  background-image: url('../images/lovers.jpg');
  background-attachment: fixed;
}

.fastidious {
  background-image: url('../images/fastidious.jpg');
  background-position: center center;
}

.visitors {
  background-color: $brown;
  background-image: url('../images/visitors.jpg');
  background-attachment: fixed;
  background-position: bottom center;
}

.sharing {
  background-image: url('../images/sharing.jpg');
  background-position: bottom center;
}

.signup {
  background-color: $brown;
  background-image: url('../images/signup.jpg');
  background-attachment: fixed;
}


//      ####                                ##
//     ##                                   ##
//     ##                                   ##
//    #####    ## ###    #####   ## ###   ######
//     ##      ###      ##   ##  ###  ##    ##
//     ##      ##       ##   ##  ##   ##    ##
//     ##      ##       ##   ##  ##   ##    ##
//     ##      ##        #####   ##   ##     ###
//     #
//
//         ##    ##
//         ##    ##
//         ##
//     ######  ####     ### ##    #####
//    ##   ##    ##      ## #    ##
//    ##   ##    ##      ## #     ####
//    ##   ##    ##       ##         ##
//     ######  ######     ##     #####
//
//

.foreground {
  position: relative;
  z-index: 2;

  padding: 6rem 4rem 2rem;

  @media #{$header-break-530} {
    padding: 8rem 4rem 2rem;
  }

  background-color: hsla(22, 26%, 27%, .35);
}

.hero-inner {
  width: 60vw;
  height: auto;
  margin: 0 auto;
  margin-top: 2rem;
  h2 {
    text-align: right;
  }
}

.iphone {
  float: right;

  height: 60vh;
  margin-left: 2rem;

  @media #{$header-break-530} {
    display: none;
  }
}



//      ####                       ##
//     ##                          ##
//     ##                          ##
//    #####     #####    #####   ######    #####   ## ###
//     ##      ##   ##  ##   ##    ##     ##   ##  ###
//     ##      ##   ##  ##   ##    ##     #######  ##
//     ##      ##   ##  ##   ##    ##     ##       ##
//     ##       #####    #####      ###    #####   ##
//     #
//

footer {
  line-height: 3rem;

  display: none;

  width: 100%;

  text-align: center;

  color: $white;
  background-color: $orange;
  a {
    margin-right: 2rem;
    &:last-child {
      margin: 0;
    }
  }
}

//    ##          ##               ##
//    ##         ##                 ##
//    ##         ##                 ##
//    ######    ##      ## ###       ##
//    ##   ##   ##      ###  ##      ##
//    ##   ##   ##      ##   ##      ##
//    ##   ##    ##     ##   ##     ##
//    ##   ##    ##     ##   ##     ##
//                ##               ##
//

h2,
h3 {
  color: $white;
  text-shadow: 0 3px 6px $black;
}

h2 {
  font-weight: 300;

  margin: 0 auto;

  text-align: center;
}


h3 {
  font-weight: 300;

  text-align: right;
}








//     ###       ##              ##
//      ##       ##              ##
//      ##                       ##
//      ##     ####     ## ###   ##  ##    #####
//      ##       ##     ###  ##  ## ##    ##
//      ##       ##     ##   ##  ####      ####
//      ##       ##     ##   ##  ## ##        ##
//     ####    ######   ##   ##  ##  ##   #####
//
//

a:link {
  text-decoration: none;

  color: $white;
}

a:visited {
  color: $white;
}

a:hover,
a:focus {
  text-decoration: underline;

  color: $white;
}

a:active {
  color: $white;
}

//         ##
//         ##
//         ##
//     ######   #####   ##   ##  ## ###
//    ##   ##  ##   ##  ## # ##  ###  ##
//    ##   ##  ##   ##  ## # ##  ##   ##
//    ##   ##  ##   ##  ## # ##  ##   ##
//     ######   #####    ## ##   ##   ##
//
//     ######  ## ###   ## ###    #####   ##   ##
//    ##   ##  ###      ###      ##   ##  ## # ##
//    ##   ##  ##       ##       ##   ##  ## # ##
//    ##  ###  ##       ##       ##   ##  ## # ##
//     ### ##  ##       ##        #####    ## ##
//
//

a.down-arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  display: inline;

  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: $tan;

  padding: 0 .375rem .25rem;
  border: 3px solid $tan;
  border-radius: 50px;

  &:hover {
    text-decoration: none;
    color: $white;
    border: 3px solid $white;
  }
}






//    ##                  ##       ##
//    ##                  ##       ##
//    ##                  ##       ##
//    ######   ##   ##  ######   ######    #####   ## ###
//    ##   ##  ##   ##    ##       ##     ##   ##  ###  ##
//    ##   ##  ##   ##    ##       ##     ##   ##  ##   ##
//    ##   ##  ##  ###    ##       ##     ##   ##  ##   ##
//    ######    ### ##     ###      ###    #####   ##   ##
//

.button {
  width: auto;
  font: inherit;
  line-height: 1rem;

  padding: .25rem 2rem;

  border: $white;
  border-radius: 7.5px;

  @media #{$header-break-365} {
    width: 60%;
    margin: 0 auto;
  }
}

.blue-bg {
  background-color: $blue;
}

a.white-bg {
  color: $orange;
  background-color: $white;
}
